<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>Learn VueJS</title>
</head>
<body>

  <div id="vue-app">
    <h1>Looping through lists</h1>

    <!-- <ul>
      <li v-for="character in characters">{{ character }}</li>
    </ul>
    <ul>
      <li v-for="(ninja, index) in ninjas">{{ index + 1 }}. {{ ninja.name }} --  {{ ninja.age }}</li>
    </ul>

    <div v-for="(ninja, index) in ninjas">
      <h1>{{ index }}. {{ ninja.name }}</h1>
      <h3>Age: {{ ninja.age }}</h3>
    </div> -->

    <!-- <template v-for="(ninja, index) in ninjas">
      <h1>{{ index }}. {{ ninja.name }}</h1>
      <h3>Age: {{ ninja.age }}</h3>
    </template> -->

    <template>
      <div v-for="ninja in ninjas">
        <p v-for="(val, key) in ninja" >{{ key }} {{ val }}</p>
      </div>
    </template>
  </div>

  <script src="app.js"></script>
</body>
</html>