<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn VueJS</title>
</head>
<body>
  <div id="app">
    <h1>{{ name }}</h1>
    <h2>{{ occupation }}</h2>
    <h3 v-if="showAge">{{ age }}</h3>
    
    <button @click="increaseAge">Increase Age</button>
    <button @click="decreaseAge">Decrease Age</button>
    <button @click="changeName('Saskia Nurul Azhima')" >Change name</button>
    <button @click="toggleShowAge">
      <span v-if="showAge">Hide Age</span>
      <span v-else>Show Age</span>
    </button>
  </div>

  <script src="https://unpkg.com/vue@3.0.2"></script>
  <script src="app.js"></script>
</body>
</html>